<%= link to: "https://rzp.io/l/vEDHA4FAl", method: :get do %> Pay now <% end %>
<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KkDRpjdleLHthU" async> </script> </form>
<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KlOL3l1D5OPtkQ" async> </script> </form>
